.done__title {
  z-index: 1;
  display: grid;
  /* width: 100%; */
  text-align: right;
  text-transform: uppercase;
  color: #d00000;
  grid-template-columns: minmax(20px, 1fr) auto;
  grid-gap: 62px;
}

.done__title::before {
  position: relative;
  margin-left: -9999px;
  content: "";
  transform: translateY(-8px);
  border-bottom: 10px solid #262524;
}

@media screen and (max-width: 1110px) {
  .done__title {
    margin-right: 14px;
  }
}

@media screen and (max-width: 570px) {
  .done__title {
    margin-right: 0;
    grid-gap: 15px;
    font-size: 24px;
    line-height: 26px;
  }
  .done__title::before {
    transform: translateY(-4px);
    border-bottom: 5px solid #262524;
  }
}
