.preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 540px;
  min-height: 764px;
  padding: 37px 47px;
  background-color: #fff;
  font-family: "PTSerif", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}
