.hero__title {
  z-index: 1;
  max-width: 650px;
  margin: 66px 0 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 72px;
  font-weight: 400;
  line-height: 1.05;
}

@media screen and (max-width: 1110px) {
  .hero__title {
    font-size: 68px;
  }
}

@media screen and (max-width: 760px) {
  .hero__title {
    margin: 25px 0 0;
    font-size: 64px;
  }
}

@media screen and (max-width: 570px) {
  .hero__title {
    font-size: 38px;
    line-height: 41px;
    max-width: 241px;
  }
}
