.application__btn-back {
  width: 43px;
  height: 27px;
  transition: opacity .1s ease-out;
  border: 0;
  background-color: transparent;
  background-image: url(../../../images/btn-back.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.application__btn-back:hover {
  opacity: .7;
}
