.site-nav__link {
  margin-left: 32px;
  padding: 37px 22px;
  transition: background-color 0.1s ease-out;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: "RodchenkoCTT";
  font-size: 24px;
  font-weight: 400;
  line-height: 1.1;
}

.site-nav__link:hover {
  background-color: #ff6464;
}
