.assembly__btn-close {
  width: 25px;
  height: 25px;
  transition: opacity 0.1s ease-out;
  border: 0;
  background-color: transparent;
  background-image: url(../../../images/icon-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.assembly__btn-close:hover {
  opacity: 0.7;
}
