.form-strokes__btn-push {
  margin-left: 30px;
  background-image: url(../../../images/btn-push.svg);
  flex-shrink: 0;
}

@media screen and (max-width: 1110px) {
  .form-strokes__btn-push {
    background-image: url(../../../images/btn-push-mobile.svg);
  }
}
