.footer__columns {
  display: flex;
  flex-wrap: wrap;
  max-width: 1110px;
  margin: 0 auto;
}

@media screen and (max-width: 760px) {
  .footer__columns {
    padding: 0 0 24px 20px;
  }
}

@media screen and (max-width: 570px) {
  .footer__columns {
    padding: 32px 20px 24px;
  }
}
