.actual__title {
  z-index: 1;
  display: grid;
  /* width: 100%; */
  text-align: right;
  text-transform: uppercase;
  color: #fff;
  grid-template-columns: minmax(20px, 1fr) auto;
  grid-gap: 62px;
}

.actual__title::before {
  position: relative;
  margin-left: -9999px;
  content: "";
  transform: translateY(-8px);
  border-bottom: 10px solid #d00000;
}

@media screen and (max-width: 1110px) {
  .actual__title {
    margin-right: 14px;
  }
}

@media screen and (max-width: 570px) {
  .actual__title {
    grid-gap: 15px;
    font-size: 23px;
    line-height: 26px;
    margin-right: 0;
  }
  .actual__title::before {
    transform: translateY(-4px);
    border-bottom: 5px solid #d00000;
  }
}
