.form-bio__info {
  margin: 71px 0 0;
  font-size: 16px;
  line-height: 1.35;
}

@media screen and (max-width: 570px) {
  .form-bio__info {
    font-size: 12px;
    line-height: 15px;
    margin: 45px 0 15px;
  }
}
