.hero__diagonal-box {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 1148px;
  transform: skewY(-15deg) translateY(-50%);
  background-color: #262524;
}

@media screen and (max-width: 760px) {
  .hero__diagonal-box {
    min-height: 800px;
  }
}

@media screen and (max-width: 570px) {
  .hero__diagonal-box {
    min-height: 570px;
  }
}
