.preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 540px;
  min-height: 764px;
  padding: 37px 47px;
  background-color: #fff;
  font-family: "PTSerif";
  font-size: 14px;
}
